.addComponent {
    color: white;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.FormInput {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}


.input {
    width: 300px;
    padding: 10px 14px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 8px;
    outline: none;
    transition: border-color 0.3s ease-in-out;
  }

  .submitButton {
    width: 300px;
    padding: 10px 14px;
    font-size: 20px;
    border: 2px solid #ccc;
    background-color: green;
    border-radius: 8px;
    outline: none;
    transition: border-color 0.3s ease-in-out;
    align-content: center;
    cursor: pointer;
    color: white;
    font-weight: bold;
    
  }
  
  .input:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }

  .submitButton:hover {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    background-color: darkgreen;
  }